*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none !important;
}
.n{
    display: flex;
    float: right;
    margin-top: 20px;
}
.menu{
    width: 40px;
    margin: 0px 70px 0px 0px;
}
.earn{
    font-weight: 700;
    font-size: 20px;
    margin: 5px 60px 0px 0px;
}
.dolar{
    width: 25px;
    margin: 0px 0px 0px 0px;
}
.number{
    margin: 6px 10px 0px 2px;
    font-size: medium;
    font-weight: 600;
}
.banner{
    display: inline-flex;
    margin: 50px 0px;
    outline: 1px solid rgb(202, 202, 202);
    width: 740px;
    
}
.subscribe{
    font-size: 18px;
    font-weight: 600;
    color: red;
    margin: 5px 20px 5px 25px;
}
.or{
    font-size: 18px;
    font-weight: 600;
    margin: 5px 15px 5px 15px;
}
.like{
    font-size: 18px;
    font-weight: 600;
    margin: 5px 15px 5px 15px;
    color: black;
}
.view{
    font-size: 18px;
    font-weight: 600;
    margin: 5px 10px 5px 20px;
    color: black;
}
.video{
    text-align: center;
    margin: 30px 0px;
}
.channel{
    padding: 5px;
    margin-top: 40px;
}
.titleofchannel{
    font-size: 20px;
    font-weight: 600;
}
.chan{
    display: inline-flex;
}
.channelname{
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
}
.vv{
    font-size: 15px;
    font-weight: 500;
    margin-top: 3px;
}
.buttons{
    display: inline-flex;
    margin: 20px 20px;
}
#next{
    background-color: gray;
    color: white;
    border-radius: 2px;
    padding: 8px;
    margin-right: 35px;
    width: 75px;
}
#sub{
    background-color: red;
    padding: 8px;
    color: white;
    font-weight: 600;
    border-radius: 2px;
    width: 200px;
}
footer{
    display: inline-flex;
    margin-top: 90px;
    border-top: 1px solid gray;
    width: 740px;
    padding: 8px;
}
footer img{
    margin: 0px 30px;
}
